/* Color Theme Swatches in Hex */
.Swimming-Back-1-hex { color: #8449BF; }
.Swimming-Back-2-hex { color: #4E458C; }
.Swimming-Back-3-hex { color: #3E3C73; }
.Swimming-Back-4-hex { color: #292840; }
.Swimming-Back-5-hex { color: #4EBFD9; }

/* Color Theme Swatches in RGBA */
.Swimming-Back-1-rgba { color: rgba(132, 73, 191, 1); }
.Swimming-Back-2-rgba { color: rgba(78, 69, 140, 1); }
.Swimming-Back-3-rgba { color: rgba(62, 60, 115, 1); }
.Swimming-Back-4-rgba { color: rgba(41, 40, 64, 1); }
.Swimming-Back-5-rgba { color: rgba(78, 191, 217, 1); }

/* Color Theme Swatches in HSLA */
.Swimming-Back-1-hsla { color: hsla(270, 47, 51, 1); }
.Swimming-Back-2-hsla { color: hsla(247, 33, 40, 1); }
.Swimming-Back-3-hsla { color: hsla(242, 31, 34, 1); }
.Swimming-Back-4-hsla { color: hsla(242, 23, 20, 1); }
.Swimming-Back-5-hsla { color: hsla(191, 64, 57, 1); }


#27364E,
#1A2535,
#F55D54,
#F2F2F4,
#1A2535,
#E6E6E9,
#F6756D,
#F55D54



#340027,#260024,#FF1962,#FFFFFF,#610047,#FFFFFF,#FF1962,#FF1962




/* colors */
#333F4E,#47525F,#DA513D,#FFFFFF,#47525F,#F8F8F8,#DA513D,#DA513D
